ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    overflow: hidden;
    background-color:whitesmoke;
    box-shadow: 0px 2px 8px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  li a:hover {
    background-color:rgb(32, 119, 219);
    color: white;
  }

  .buttheme {
    margin-left: 20px;
    margin-top: -20px;
    border: 1px solid grey;
  }